@model IEnumerable<LWTechTaskTimeTracker.Models.ReminderMessage>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="btn-block">
        <h1 class="display-4">Reminder Messages</h1>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.dateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.completedTask)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.completedTask.Description)
                    
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr>

 <div class="btn-block">
     <h3>
         <a asp-action="Create"><i class="bi bi-plus-circle"></i> Add Reminder message</a>
     </h3>
 </div>



