@model IEnumerable<LWTechTaskTimeTracker.Models.CompletedTask>

@{
    ViewData["Title"] = "Tasks";
}


<div class="btn-block">
    <h1 class="display-4">Tasks to Complete</h1>
</div>
<hr>

<div class="btn-block">
    <h3>
        <a asp-action="Create">Create New Task</a>
    </h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateTime)
                </td>

                @if (!item.IsActive)
                {
                    <td>
                        <div class="btn btn-outline-primary">
                            <a asp-action="Edit" asp-route-id="@item.Id"> Mark Completed</a>
                        </div>
                    </td>
                }
                @if (item.IsActive)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr>

